$primary-color: #3ab3e7;
$secondary-color: #009ee2;
$tertiary-color: #0078ac;
$blacky-color: rgb(24, 21, 21);
// $tertiary-color: #4c57e5;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // 'Open Sans'
    // font-family: 'Courier New', Courier, monospace;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin primary-gradient {
    background: linear-gradient(to right, $primary-color 0%, #4dbcec 28%, #7dc4e2 100%);
}

@mixin secondary-gradient {
    background: linear-gradient(to right, $secondary-color 0%, $primary-color 28%, #4dbcec 100%);
}

@mixin tertiary-gradient {
    background: linear-gradient(to right, $tertiary-color 0%, $secondary-color 28%, $primary-color 100%);
}

@function set-text-color($color) {
    @if(lightness($color) > 40%){
        @return #000;
    } @else {
        @return #fff;
    }
}
//font-family: 'Courier New', Courier, monospace;

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}
