$primary-color: #112D4E;
$secondary-color: #3F72AF;
$tertiary-color: #DBE2EF;
$primary-text-color: #333333;
$blacky-color: rgb(24, 21, 21);
// $tertiary-color: #4c57e5;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    // 'Open Sans'
    // font-family: 'Courier New', Courier, monospace;
}

h1,h2,h3,h4,h5,h6,p{
    color: #333333;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin primary-gradient {
    background: linear-gradient(to right, $primary-color 0%, #153861 28%, #385c83 100%);
}

@mixin secondary-gradient {
    background: linear-gradient(to right, $secondary-color 0%, #5380b8 28%, #7296c2 100%);
}

@mixin tertiary-gradient {
    background: linear-gradient(to right, $tertiary-color 0%, $secondary-color 28%, $primary-color 100%);
}

@function set-text-color($color) {
    @if(lightness($color) > 40%){
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-md-bootstrap {
    @media screen and (min-width: 992px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}
