.carousel-inner img {
    width: 100%;
    height: 550px;
    filter: brightness(50%);
    
}

.carousel-inner{
    width: 100%;
    .carousel-item{
        width: 100%;
        height: 550px;
    }
    .carousel-item:first-child {   
        background: linear-gradient(rgba(17, 45, 78, 0.8),rgba(17,45,78,0.8)),url('../../../../public/storage/images//settings/home-banner.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .carousel-item:nth-child(2) {   
        background: linear-gradient(rgba(17, 45, 78, 0.8),rgba(17,45,78,0.8)),url('../../../../public/storage/images//settings/home-banner-2.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .carousel-item:nth-child(3) {   
        background: linear-gradient(rgba(17, 45, 78, 0.8),rgba(17,45,78,0.8)),url('../../../../public/storage/images//settings/home-banner-3.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.banner-carousel {
    position: relative !important;
    margin: 0;
    padding: 0;

    .banner-text {
        position: absolute;
        top: 100px;
        left: 30px;
        color: #f3f3f3;
        max-width: 300px;

        p {
            line-height: 30px;
        }

        #get-quote-btn {
            background: linear-gradient(to right, $primary-color 0%, #4dbcec 28%, #7dc4e2 100%);
            border-radius: 20px;
            font-weight: bold;

            &:hover {
                background: inherit;
                color: $primary-color;
            }
        }
    }

    .banner-below {
        position: absolute;
        bottom: -60px;
        left: 5%;
        width: 90%;
        // width: 800px;
        background-color: $secondary-color;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        border-radius: 10px;
        z-index: 20;
        padding: 20px 0;

        &__title {
            margin-bottom: 20px;
        }

        &__row {
            display: flex;
            // flex-direction: column;
            justify-content: space-around;

            h4 {
                font-size: 16px;
            }

            span {
                font-size: 20px;
                color: white;
            }
            i {
                color: white;
            }

            .underline {
                height: 3px;
                width: 50px;
                background-color: white;
                content: '';
            }

            .first {
                width: 33%;
                border-right: 2px solid rgb(236, 236, 236);
            }
            .second {
                width: 33%;
                border-right: 2px solid rgb(236, 236, 236);
            }
            .third {
                width: 33%;
            }
        }
    }
}

@include media-md {
    .banner-carousel {

        .banner-text {
            max-width: 40%;
            left: 100px;

            #get-quote-btn {
                margin-top: 30px;
            }
        }
        
        .banner-below {
            width: 750px;
            left: calc(50vw - 375px);
        }
    }
}

@include media-lg {
    .banner-carousel {

        .banner-text {
            top: 150px;

            #get-quote-btn {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                font-size: 20px;
            }
        }
    }
}