.home-footer {
    padding: 10px;
    padding-top: 18px;
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 20;
    p{
        color: grey;
    }
}