.home-newsletter {
    background: $tertiary-color;
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            color: $primary-color;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn-subscribe {
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: white;

                &:hover {
                    background-color: $secondary-color;
                    border: 1px solid $secondary-color;
                }
            }

            .newsletter-field {
                height: 60px;
                background-color: #f3f3f3;
            }
        }
    }
}
