.home-domain {
    // background: linear-gradient(to right, #4c57e5 0%, #4c57e5 28%, #636ded 100%);
    color: white;
    width: 100% !important;

    form{
        display: flex;
        justify-content: center;
        
        input {
            height: 40px;
        }

        .search-area {
            width: 500px;
        }
    }

    p {
        font-size: 25px;
        margin-top: 40px;
    }
}

.home-about {
    &__first {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-img {
            padding: 0 50px;
            
            img {
                width: 200px;
                height: 200px;
            }
        }

    }
    &__second {
        h3 {
            margin-bottom: 30px;
        }

        ul {
            margin-bottom: 30px;
            list-style-type: square;
            margin-left: 30px;
        }
    }
}

.home-brief {
    padding: 0 !important;
    .column-one {
        background-color: #fffbf2;
        height: 500px;
    }
    .column-two {
        background-color: #fff6e0;
        height: 500px;
    }
}

.home-services {
    background-color: #f7f7f7;

    &__title {
        margin-bottom: 100px;
    }

    .service-square-row {
        display: flex; 
        width: 100%; 
        justify-content: center;

        .service-square {
            // transform: perspective(1px) translateZ(0);
            width: 250px;
            height: 250px;
            // color: black;
            position: relative;
            overflow: unset;
            cursor: pointer;
            margin-bottom: 50px;
            background-color: white;
            @include transition-ease;
    
            &:hover .service-square__icon{
                background: linear-gradient(to right, $primary-color 0%, #4dbcec 28%, #7dc4e2 100%);
            }
    
            &:hover i {
                color: white;
            }
    
            &:hover .service-square__curtain {
                height: 250px;
            }
    
            &:hover h5 {
                color: white;
            }
    
            &:hover p {
                color: white;
            }

            &:hover a  {
                color: white;
            }
    
            &__icon {
                position: absolute;
                background-color: white;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
                width: 70px;
                height: 70px;
                border-radius: 50%;
                top: -35px;
                left: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                @include transition-ease;
    
                i {
                    color: $primary-color;
                    font-size: 30px;
                    @include transition-ease;
                }
            }
            
            h5 {
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 20px;
            }

            p, h5 {
                // color: black;
                @include transition-ease;
            }

            a {
                color: $primary-color;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
    
            &__main {
                margin-top: 30px;
            }

            &__curtain {
                @include transition-ease;
                width: 250px;
                height: 0;
                background: linear-gradient(to right, $primary-color 0%, #4dbcec 28%, #7dc4e2 100%);
                position: absolute;
                left: 0;
                top: 0;
                overflow: hidden;
                padding-left: 20px;
                padding-right: 20px;

                h5 {
                    margin-top: 50px;
                }
            }
        }
    }
}

.home-why-choose {
    // background: linear-gradient(to right, $complimentary-color 0%, $complimentary-color-two 28%, $complimentary-color-two 100%);
    color: white;

    .section-title {
        margin-bottom: 30px;
    }
}

@include media-md {
    .home-about {
        &__first {
            &-img {
                
                img {
                    width: 100%;
                    height: 300px;
                }
            }
    
        }
    }
}